@CHARSET "ISO-8859-1";

div#Header {
	background: url(logo.png);
        background-repeat: no-repeat;
	padding: 10px 30px;
	height: 100px;
}
#help {
    position: absolute;
    top: 50px;
    right: 200px;
}
#agb {
    position: absolute;
    top: 50px;
    right: 100px;
}
#helpb {
    position: absolute;
    top: 127px;
    right: 215px;
}
#agbb {
    position: absolute;
    top: 127px;
    right: 115px;
}
#suche {
    position: absolute;
    top: 170px;
    left: 40px;
}
#inserat {
    position: absolute;
    top: 400px;
    left: 40px;
}
#sucheb {
    position: absolute;
    top: 362px;
    left: 77px;
}
#inseratb {
    position: absolute;
    top: 597px;
    left: 53px;
}
div#leftbox{
	
	height: 200px;
	text-align: right;
	
}
	
div#rightbox{
	
	right-margin: 66%;
	height: 200px;
	width: 300px;
	text-align: right;
	
}
div#content{
        height: 100%;

}
body {
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
