@CHARSET "ISO-8859-1";

div#Header {
	background: url(logo.png);
        background-repeat: no-repeat;
	padding: 10px 30px;
	height: 100px;
}
#help {
    position: absolute;
    top: 50px;
    right: 200px;
}
#agb {
    position: absolute;
    top: 50px;
    right: 100px;
}


#inserat {
    width: 80%;
    height: width * 1.2;
}
div#leftbox{
	width: 100%;
	height: width*1.2;
	text-align: left;
        background-color: violet;
}
#suche {

       width: 80%;
    height: width * 1.2;
}	
div#rightbox{
	
	right-margin: 66%;
	height: 200px;
	width: 300px;
	text-align: right;
	
}
div#content{
        height: 100%;

}
body {
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
