@CHARSET "ISO-8859-1";

body {
	font: 80% "Trebuchet MS", sans-serif;
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
div#Header {
    padding: 3px 30px;
}
#help {
    position: absolute;
    top: 25px;
    right: 200px;
}
#agb {
    position: absolute;
    top: 25px;
    right: 100px;
}
div#Wrap {
    padding-top: 20px;
}
div#leftbox{
    width: 220px;
}
#suche {
    height: 200px;
    width: 200px;
}	
#inserat {
    height: 200px;
    width: 200px;
}
td{
    vertical-align: top;
}
div#content
{
	margin-left: 80px;
    height: 100%;
    width: 100%;
  /*  background-color:rgba(255,255,255,0.5);*/
}
div#rightbox{
    width: 25opx;
}
.Accordion {
	
	border :1px ridge gray;
		
}
.Tabs {
	height: 550px;
	width: 900px;
}
tr#trtabs{
	
	height: 40px;
	text-align: left;
}

.error{
	color: red;
	font-size: 8pt;
}