@CHARSET "utf-8";

body {
    font: 100% "Trebuchet MS", sans-serif;
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
td {
    text-align: left;
    vertical-align: top;
}
.lang {
    padding-left: 15px;
}
.Header {
    min-height: 150px;
    valign: center;
    vertical-align: center;
}
img#logo {
    padding: 5px 30px;
}
img#help {
    position: absolute;
    top: 40px;
    right: 164px;
}
#logout {
    position: absolute;
    top: 37px;
    right: 113px;
}
img#agb {
    position: absolute;
    top: 40px;
    right: 60px;
}
.Wrap {
    width: 100vw;
}
.leftbox {
    width: 250px;
}
.rightbox {
    width: 300px;
    text-align: center;
}
.textcontent {
    padding: 20px;
    background-color:rgba(255,255,255,0.5);
    min-height: 440px;
}
.ui-widget-content {
    min-height: 500px;
}
.function {
    padding-top: 20px;
    height: 200px;
    width: 200px;
}
.error {
    color: red;
    font-weight: bold;
    font-size: large;
}
.formfield {
    width: 300px;
}
.Beschreibung {
    width: 100%;
}
div#Login{
    margin: 0 auto;
    text-align: center;
    min-height: 250px;
    width: 250px;
    background-color:rgba(255,255,255,0.5);
}
.btnweiter {
    float: right;
}
.btnzuruck {
    float: left;
}
.button {
    background: red; 
    color: white;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: large;
}
Table {
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
table thead { 
    border-bottom: 1px solid #000;
}
.admintable { 
    border: dashed;
    border-width: 1px 0;
}
td#search {
    text-align: center;
}
