@CHARSET "ISO-8859-1";

body {
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
div#Header {
    padding: 3px 30px;
}
#help {
    position: absolute;
    top: 25px;
    right: 200px;
}
#agb {
    position: absolute;
    top: 25px;
    right: 100px;
}
div#Wrap {
    padding-top: 20px;
}
div#leftbox{
    width: 220px;
}
#suche {
    height: 200px;
    width: 200px;
}	
#inserat {
    height: 200px;
    width: 200px;
}
td{
    vertical-align: top;
}
div#content
{
    height: 100%;
    width: 100%;
    background-color:rgba(255,255,255,0.5);
}
div#rightbox{
    width: 250px;
}
.Accordion {
	height: 350px';
	border :1px ridge gray;
		
}
.Tabs {
	height: 100%;	
}