@CHARSET "utf-8";

body {
    font: 80% "Trebuchet MS", sans-serif;
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
div#Header {
    padding: 3px 30px;
}
#help {
    position: absolute;
    top: 25px;
    right: 200px;
}
#agb {
    position: absolute;
    top: 25px;
    right: 100px;
}
div#Wrap {
    /*padding-top: 10px;*/
}
div#leftbox{
    width: 220px;
}
#suche {
    height: 200px;
    width: 200px;
}	
#inserat {
    padding-top: 20px;
    height: 200px;
    width: 200px;
}

td{
    vertical-align: top;
    text-align: left;
}

div#content
{
    min-height: 380px;
    padding: 20px;
    margin-left: 30px;
    width: 100%;
    background-color:rgba(255,255,255,0.5);
}
div#rightbox{
    width: 300px;
}
.Tabs {
        width: 100%;

    min-height: 550px;
}
tr#4{
    width: 100%;
}

.error{
    color: red;
    font-size: 8pt;
}
div#lang{
    text-align: right;
    margin-right: 290px;
    //width: 20px;
}
#btnweiter1 {
    float: right;
}
#btnweiter2 {
    float: right;
}
#btnweiter3 {
    float: right;
}
#btnweiter4 {
    float: right;
}
#btnweiter5 {
    float: right;
}
#btnzuruck2 {
    float: left;
}
#btnzuruck3 {
    float: left;
}
#btnzuruck4 {
    float: left;
}
#btnzuruck5 {
    float: left;
}
#email {
    width: 300px;
}
#wiederemail {
    width: 300px;
}
#bewohnerBeschreibung {
    width: 100%;
}
#insZimmerBeschreibung {
    width: 100%;
}
#gesuchtBeschreibung {
    width: 100%;
}
#insZimmerStr {
    width: 300px;
}
#insZimmerOrt {
    width: 300px;
}
#agbBeschreibung {
    width: 100%;
}
div#Login{
    margin: 0 auto;
    text-align: center;
    min-height: 250px;
    width: 250px;
    background-color:rgba(255,255,255,0.5);
}

#logout {
    position: absolute;
    top: 37px;
    right: 70px;
}
#btnlogin {
    float: right;
}