@CHARSET "utf-8";

body {
	font: 80% "Trebuchet MS", sans-serif;
    background-image: url('holz.jpg');
    background-repeat: repeat;
}
div#Header {
    padding: 3px 30px;
}
#help {
    position: absolute;
    top: 25px;
    right: 200px;
}
#agb {
    position: absolute;
    top: 25px;
    right: 100px;
}
div#Wrap {
    padding-top: 20px;
}
div#leftbox{
    width: 220px;
}
#suche {
    height: 200px;
    width: 200px;
}	
#inserat {
    padding-top: 20px;
    height: 200px;
    width: 200px;
}

td{
    vertical-align: top;
}

div#content
{
    min-height: 380px;
    padding: 20px;
    margin-left: 30px;
    width: 100%;
    background-color:rgba(255,255,255,0.5);
}
div#rightbox{
    width: 400px;
}
.Accordion {

	min-height: 350px;
	border: 1px ridge gray;
        
}
.Tabs {
        min-height: 420px;
}
tr#trtabs{
	text-align: left;
}
.error{
	color: red;
	font-size: 8pt;
}
