@CHARSET "ISO-8859-1";

div#Header {
	margin: 5px 10px 0px 10px;
	background: url(rosenblatt.jpg);
	padding: 10px 30px;
	height: 80px;
	border-radius: 3;
}
div#leftbox{
	
	background-color: orange;
	height: 200px;
	width: 300px;
	text-align: right;
	
}
div#content{
	
	margin: 30px 30px 30px 50px;
	background-color: red;
	height: 200px;
	width: 500px;
	text-align: right;
	
}
div#rightbox{
	
	right-margin: 66%;
	background-color: yellow;
	height: 200px;
	width: 300px;
	text-align: right;
	
}